.footer {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 100px;

  &__jmc-logo {
    height: 65px;
    width: 65px;

    @include sm {
      height: 100px;
      width: 100px;
    }

    @include md {
      height: 150px;
      width: 150px;
    }

    @include lg {
      height: 175px;
      width: 175px;
    }
  }

  h3 {
    font-size: 10px;

    @include md {
      font-size: 14px;
    }

    @include lg {
      font-size: 18px;
    }
  }

  &__content {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__email {
    position: relative;
    top: 5px;
  }

  &__bg {
    max-height: 400px;
    width: 100%;
    display: flex;
  }

  &__img {
    flex: 1;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
