.header {
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: 'nav brand theme';
  top: 5px;

  @include sm {
    letter-spacing: 5px;
  }

  &__hamburger {
    grid-area: nav;
    position: absolute;
    left: 15px;
  }

  &__brand {
    grid-area: brand;
    align-self: flex-start;

    a {
      letter-spacing: 3px;
      text-decoration: none;
    }
  }

  &__right {
    grid-area: theme;
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    @include sm {
      margin-top: 0;
    }
  }

  &__noise-btn,
  &__theme-btn {
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;

    .eye,
    .eye-off {
      height: 25px;
    }

    .moon,
    .sun {
      height: 35px;
    }
  }
}
