.icons {
  transition: height 0.5s ease, width 0.5s ease;

  @include themed() {
    &.themed * {
      fill: t('primary');
    }
    &.themed-stroke * {
      stroke: t('primary');
    }
  }

  &.jmc-logo {
    width: 150px;

    @include sm {
      width: 208px;
    }
  }
}
