*,
*:after,
*:before {
  box-sizing: border-box;
  color: inherit;

  @media (prefers-reduced-motion: reduce) {
    animation: none !important;
    transition: none !important;
  }
}

input,
select,
textarea,
button {
  font-family: inherit;
}

body {
  font-family: cutive;
  line-height: 1.5;

  position: relative;
  max-width: 2560px;
  margin: 0 auto;

  height: 100vh;
  width: 100%;

  &.theme--dark {
    background: $black-dark;
  }
  &.theme--light {
    background: $white;
  }
}

.background {
  &::before {
    @include themed() {
      content: '';
      background: url(t('me-banner')) no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 500px;
      max-height: 950px;
      background-position: 47%;

      @include md {
        height: 70vw;
      }
    }
  }
}

.noise {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background-repeat: repeat;
  animation: bg-animation 1s steps(2) infinite;
  opacity: 0.9;
  visibility: visible;

  @include themed() {
    background: url(t('bg-noise'));
    background-color: t('background');
  }
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
