@font-face {
  font-family: 'Cutive';
  src: url('/fonts/Cutive-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cutive Mono';
  src: url('/fonts/CutiveMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cute Font';
  src: url('/fonts/CuteFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$p1: 18px;
$p2: 14px;
$p3: 12px;
$p4: 10px;

.typography {
  &__mono {
    font-family: Cutive Mono, monospace;
    letter-spacing: 0;
    font-size: $p1;
    line-height: 1.5;
  }

  &__cute {
    font-family: Cute Font, cursive;
    font-size: 2em;
    line-height: 0.7;
  }
}

h1,
h2,
h3,
span,
blockquote,
p {
  @include themed() {
    color: t('primary');
  }
}

h1,
h2,
h3 {
  font-family: Cutive Mono;
}

blockquote {
  font-family: Cute Font;
  font-size: 20px;
  position: relative;

  &:before {
    content: '"';
    font-size: 60px;
    position: absolute;
    top: -10px;
    left: -20px;
  }

  @include md {
    font-size: 28px;
  }
}

p,
span {
  letter-spacing: 1px;
  display: block;
  font-size: $p2;

  @include themed() {
    color: t('primary');
  }

  &.small {
    font-size: $p3;
  }
}

span {
  line-height: 1.5;
}

p {
  line-height: 2;
}

.highlight {
  background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-6&color=EE3F46');
  margin: -2px -6px;
  padding: 2px 6px;
}
